@page "/C_ProductosEmpaques"

<PageTitle>Consulta productos</PageTitle>

<EditForm Model="lista">
    <div class="card">
        <div class="card-header">
            <h4>Consulta de productos por empaque</h4>
        </div>

        <div class="card-body">
            <form>
                <div class="input-group d-flex align-items-end">
                    <InputSelect class="form-control col-2" @bind-Value="filtro">
                        <option value="0" disabled selected>Seleccione un filtro</option>
                        <option value="1">Id</option>
                        <option value="2">Concepto</option>
                    </InputSelect>

                    <div class="flex-fill mx-2">
                        <label>Busqueda</label>
                        <InputText class="form-control" @bind-Value="Criterio" />
                
                    </div>

                    <button type="button" class="btn btn-primary" @onclick="Buscar"> <span
                            class="oi oi-magnifying-glass"></span></button>

                </div>

                <div class="input-group d-flex align-items-end">

                    <div class="mx-1">
                        <label>Desde</label>
                        <input type="date" class="form-control" @bind="fechaDesde" />
                    </div>

                    <div class="mx-1">
                        <label>Hasta</label>
                        <input type="date" class="form-control" @bind="fechaHasta" />
                    </div>

                </div>

            </form>
        </div>

        <table class="table table-light">
            <thead class="thead">
                <tr class="table">
                    <th>Id</th>
                    <th>Concepto</th>
                    <th>Fecha de creacion</th>
               
                    <th>Cantidad utilizados</th>
                    <th>Cantidad producido</th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lista)
                {
                    <tr>
                        <td>@item.ProductoEmpacadosId</td>
                        <td>@item.Concepto</td>
                        <td>@item.FechaCreacion</td>
                        <td>@item.cantidadUtilizados</td>
                        <td>@item.cantidadProducidos</td>
                        <a class="btn btn-sm btn-outline-primary oi oi-eye" href="R_ProductoEmpaques/@item.ProductoEmpacadosId"></a>
                       
                    </tr>
                }
            </tbody>

        </table>
    </div>

</EditForm>



@code {
    public string filtro { get; set; }

    public string Criterio { get; set; }

    public DateTime? fechaDesde { get; set; }
    public DateTime? fechaHasta { get; set; }

    public List<ProductosEmpacados> lista { get; set; } = new List<ProductosEmpacados>();

    [Inject]
    public ProductosEmpacadosBLL productosEmpacadosBLL { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        lista = ProductosEmpacadosBLL.GetList(p => true);
    } 
    private void Buscar()
    {
        if (Criterio != null)
        {
            switch (filtro)
            {
                case "1":
                    bool esNumero = Int32.TryParse(Convert.ToString(Criterio), out int id);
                    if(esNumero)
                        lista = ProductosEmpacadosBLL.GetList(p => p.ProductoEmpacadosId == id);
                    else
                        lista = ProductosEmpacadosBLL.GetList(p => true);
                    break;
                    
                case "2":
                    lista = ProductosEmpacadosBLL.GetList(p => p.Concepto.ToLower().Contains(Criterio.ToLower()));
                    break;
            }
        }
        else
        {
            lista = ProductosEmpacadosBLL.GetList(p => true);
        }

        if(fechaDesde.HasValue)
            lista = ProductosEmpacadosBLL.GetList(f => f.FechaCreacion.Date >= fechaDesde);
        else if(fechaHasta.HasValue)
            lista = ProductosEmpacadosBLL.GetList(f =>  f.FechaCreacion.Date <= fechaHasta);
        else if(fechaDesde.HasValue || fechaHasta.HasValue)
            lista = ProductosEmpacadosBLL.GetList(f => f.FechaCreacion.Date >= fechaDesde && f.FechaCreacion.Date <= fechaHasta);
    }

}
