@page "/R_ProductoEmpaques"
@page "/R_ProductoEmpaques/{ProductoEmpacadosId:int}"
@inject IToastService toast
<PageTitle>Productos empaques</PageTitle>

<EditForm Model="ProductosEmpacados" OnInvalidSubmit="Guardar">
    <DataAnnotationsValidator/>

        <div className="Container">
            <div class="card">

                <div class="card-header">
                    <h3>Entrada de Productos Empacados</h3>
                </div>


                <div class="card-body">
                    <form class="row mb-3">
                        @* Id *@
                        <label for="exampleFormControlInput1" class="form-label">Id</label>
                        <div class="col-auto">
                           
                            <InputNumber @bind-Value="ProductoEmpacadosId" class="form-control col-4" />
                         
                        </div>
                        <div class="col-auto">
                            <button type="button" @onclick="Buscar" class="btn btn-primary mb-3"><span class="oi oi-magnifying-glass"></span></button>
                        </div>

                        @* Fecha *@
                        <label for="exampleFormControlInput1" class="form-label">Fecha actual</label>
                        <div class="col-auto mb-3">
                            <InputDate class="form-control" @bind-Value="ProductosEmpacados.FechaCreacion" />
                        </div>


                        @* Concepto *@
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Concepto</label>
                             <div class="col-auto">
                                   <InputText class="form-control" @bind-Value="ProductosEmpacados.Concepto"/>
                                    <ValidationMessage For="@(() => ProductosEmpacados.Concepto)" />
                             </div>
                        </div>
                        
                    </form>
                </div>


            @*Utilizados detalle*@
            <div class="card">
                <div class="card-header">
                    <h3>Utilizados</h3>
                </div>

                <div class="card-body">

                    <form>
                        <div class="input-group d-flex align-items-end">
                            <InputSelect class="form-control col-2 mb-3" @bind-Value="filtroUtilizados"> @* ProductosEmpacados.ProductoEmpacadosId *@

                                <option value="0" disabled selected>Seleccione un producto</option>

                                @foreach (var item in  ProductosBLL.GetListaProductos()) 
                                {
                                    <option value="@item.ProductoId" >@item.Descripcion</option> 
                                } 
                            </InputSelect> 

                            @* Cantidad *@
                            <div class="flex-fill mb-3">
                                <label>Cantidad</label>
                                <input class="form-control" @bind="Cantidad" />
                            </div>
                            <button type="button" class="btn btn mb-3 btn-primary" 
                             @onclick="AgregarDetalleEmpaques"> + Add </button>

                        </div>

                    </form>

                </div >
                            <div class="card-body">
                                <table class="table table-light">
                                    <thead class="thead">
                                        <tr class="table">
                                         
                                            <th>Descripción</th>
                                            <th>Cantidad</th>
                                            <th>Peso</th>
                                            <th>Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ProductosEmpacados.ProductosEmpacadosDetalle)
                                        {
                                            <tr>
                                              
                                                <td>@item.Concepto</td>
                                                <td>@item.Cantidad</td>
                                                <td>@item.Peso g</td>
                                                <td><span class="btn btn-lg btn-danger oi oi-ban" href="#"  @onclick="@(() => RemoverFila(item))"> </span> </td>
                                            </tr>
                                        } 
                                    </tbody>
                                </table>

                                <span class="input-group-text">Peso total: @ProductosEmpacados.ProductosEmpacadosDetalle.Sum(p => p.Peso*p.Cantidad)</span> 
                            </div>
                </div>

            </div>


             <div class="card">
                <div class="card-header">
                    <h3>Producido</h3>
                </div>

                <div class="card-body">

                    <form>
                        <div class="input-group d-flex align-items-end">
                            <InputSelect class="form-control col-2 mb-3" @bind-Value="filtroProducidos"> @* ._producto.ProductoId *@

                                <option value="0" disabled selected>Seleccione un producido</option>
                                
                                @foreach (var item in  ProductosBLL.GetListaProductos())
                                {
                                    <option value="@item.ProductoId" >@item.Descripcion </option>
                                } 

                            </InputSelect>  
                             

                            @* Cantidad *@
                            <div class="flex-fill mb-3">
                                <label>Cantidad</label>
                                <input class="form-control" @bind-value="ProductosEmpacados.cantidadProducidos"/> @* entrada.cantida *@
                            </div>
                           

                        </div>

                    </form>

                </div>
            </div>   

            <div class="card">
                <div class="card-header">
                    <div class="form-group text-center"  >
           
                        <button type="button" class="btn btn-lg btn-primary"
                            @onclick="Nuevo"><span class="oi oi-plus"></span> Nuevo</button>

                        <button type="submit"  class="btn btn-lg btn-success"
                            @onclick="Guardar"><span class="oi oi-media-stop"></span> Guardar</button>
                            
                        <button type="button" class="btn btn-lg btn-danger"
                            @onclick="Eliminar"> <span class="oi oi-x"></span> Eliminar</button> 

                    </div>
                </div>
            </div>
        </div>


</EditForm>

@code {

    [Parameter]
    public int ProductoEmpacadosId {get; set;}
    public string filtroUtilizados { get; set; }
    public string filtroProducidos { get; set; }
    public int ContarExistencia { get; set; }

    public ProductosEmpacados ProductosEmpacados {get; set; } = new ProductosEmpacados();

    [Inject]  
    public ProductosEmpacadosBLL? productosEmpacadosBLL {get; set;}

    [Inject]  
    public ProductosBLL? productosBLL { get; set; }
   

    protected override void OnInitialized()
    {
        ProductosEmpacados.ProductoEmpacadosId = ProductoEmpacadosId;
        Buscar();
    }
    
    public string Descripcion { get; set; }
    public int Cantidad {get; set; }    
    public float Peso {get; set; }
    public int IdProducto {get; set;}



    private void AgregarDetalleEmpaques()
    {

        foreach(var item in ProductosBLL.GetListaProductos())
        {
            //poner restrincion si el producto es menor que 0
            // poner restrincion de productos y existencia
            if(filtroUtilizados == Convert.ToString(item.ProductoId))
            {
                if(item.Existencia>=Cantidad && item.Existencia != 0)
                {
                    Descripcion = item.Descripcion;
                    Peso = item.Peso;
                    IdProducto = item.ProductoId;
                    ProductosEmpacados.ProductosEmpacadosDetalle.Add(new ProductosEmpacadosDetalle(IdProducto, Descripcion, Cantidad, Peso));
                    //contar existencia
                    //ContarExistencia -= Cantidad;
                }
                else
                {
                    toast.ShowError("No existe esa cantidad de producto.");
                }
            }
        }
    }

    private void RemoverFila(ProductosEmpacadosDetalle item)
    {
        this.ProductosEmpacados.ProductosEmpacadosDetalle.Remove(item);
    }

    public void Buscar()
    {
        if(ProductoEmpacadosId> 0)
        {
            ProductosEmpacados encontrado = ProductosEmpacadosBLL.Buscar(this.ProductoEmpacadosId);

            if(encontrado != null)
            {
                this.ProductosEmpacados = encontrado;
                filtroProducidos = Convert.ToString(ProductosEmpacados.IdProducidos);
                toast.ShowSuccess("Producto empacado encontrado. ");
            }
            else
            {
                ProductosEmpacados = new ProductosEmpacados();
                toast.ShowError("No se encontró el producto empacado");
            }
        }
        else
        {
            Nuevo();
        }
    }

    public void Nuevo()
    {
        
        this.ProductosEmpacados = new ProductosEmpacados();
        this.ProductoEmpacadosId = 0;
        this.ProductosEmpacados.ProductosEmpacadosDetalle = new List<ProductosEmpacadosDetalle>();
        Descripcion = "";
        Cantidad = 0; 
        Peso = 0;
        IdProducto = 0;
    }

    public void DatosFaltantes()
    {
        foreach(var item in ProductosBLL.GetListaProductos())
        {
            if(filtroProducidos == Convert.ToString(item.ProductoId))
            {
                ProductosEmpacados.IdProducidos = item.ProductoId; 
            }
        }

        foreach(var item in ProductosEmpacados.ProductosEmpacadosDetalle)
        {
            ProductosEmpacados.cantidadUtilizados += item.Cantidad;
        }
    }

    public void Guardar()
    {
        DatosFaltantes();
        if(ProductosEmpacados.Concepto != null)
            if(ProductosEmpacadosBLL.Guardar(this.ProductosEmpacados))
            {
                //contarExistencia = 0;
                toast.ShowInfo("Se guardo exitosamente.");
            }
            else
            {
                toast.ShowError("No se pudo guardar."); 
            }
    }

    public void Eliminar()
    {
        bool elimnado = ProductosEmpacadosBLL.Eliminar(this.ProductosEmpacados.ProductoEmpacadosId);
        if(elimnado)
        {
            Nuevo();
            toast.ShowSuccess("Eliminacion exitosa.");
        }
        else
        {
            toast.ShowError("Eliminacion fallida.");
        }

    }

}




